/* Base styles for the table */
.table {
    width: 100%;
    color: #FFF;
    font-size: 16px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.table-row{
    display: flex;
    justify-content: space-between;
    gap: 17px;
}

  /* Styles for table cells */
  .table-cell {
    padding: 14px;
    border-radius: 5px;
    
  }

  .table-row .table-cell:first-child{
    max-width: 71px;
    text-align: start;
    padding-left: 21px;
  }

  .table-row:first-child .table-cell{
    background-color: #1F1F1F !important;
    border: none !important;
    font-weight: 600;
  }

  /* Alternating row colors */
  .table-row:nth-child(odd) .table-cell{
    background-color: #4F4F4F;
    border: 1px solid #484848;
    width: 100%;
  }
  
  .table-row:nth-child(even) .table-cell{
    background-color: #303030;
    border: 1px solid #484848;
    width: 100%;
  }
  
  /* Styles for the header row */
  .table-header {
    
  }
  
  /* Styles for the indicators using :before pseudo-element */
  .indicator:before {
    content: '';
    display: inline-block;
    width: 14.677px;
    height: 14.466px;
    margin-right: 30px;
    position: absolute;
    transform: translate(-400%, 30%);
  }
  
  /* Specific styles for green indicators */
  .green-indicator:before {
    background-image: url('public\\svg\\green.svg');
  }
  
  /* Specific styles for red indicators */
  .red-indicator:before {
    background-image: url('public\\svg\\red.svg');
  }

  .clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
.hour{
  background-color: #262626;
  padding: 10px 20px;
  width: 110px;
  color: #FFF;
  font-size: 57px;
  border-radius: 15px;
  text-align: center;
}

.minute{
  background-color: #484848;
  padding: 10px 20px;
  width: 110px;
  color: #FFF;
  font-size: 57px;
  border-radius: 15px;
  text-align: center;
}

.dots{
  color: #FFF;
  font-size: 57px;
}

.seconds{
  background-color: #696969;
  padding: 10px 20px;
  width: 110px;
  color: #FFF;
  font-size: 57px;
  border-radius: 15px;
  text-align: center;
}

.clock-card{
  width: 100%;
}
